// === VARIABLES ===
//Main text color:
$mtcolor: #fff;
$milk: #F7F7F7;
$black: #212121;
$black-pure: #000;
$black-transp-35:rgba(0,0,0,0.35);
$black-transp-60:rgba(0,0,0,0.6);
$black-transp-85:rgba(0,0,0,0.85);
$black-transp-95:rgba(0,0,0,0.95);
$midnight-black:#1C2227;
$cyan: #01c5d6;
$blue:#52a4da;
$green: #c3e54b;
$silver: #C2C2C2;
$grey: #DFE3E5;
$orange: #FC9F3E;
$red: #e36d4a;
$pink: #FF8AC4;
$yellow: #ffff00;
$bronze: #cd7f32;
//Features short colors:
$f-green:#7ac043;
$f-orange:#f16422;
$f-red:#bf202f;
$f-violet:#682d91;
$f-blue:#01abd0;
$f-cyan:#089f77;