/*TOP MENU BTN'S ICON ANIMATION*/
@-webkit-keyframes icon-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes icon-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes icon-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes icon-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes icon-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes icon-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes icon-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes icon-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }
@-o-keyframes icon-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes icon-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    opacity: 0;
    filter: alpha(opacity=0); } }
/*SEARCH FIELD ANIMATION*/
@-webkit-keyframes search-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-moz-keyframes search-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-ms-keyframes search-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-o-keyframes search-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes search-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-webkit-keyframes search-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@-moz-keyframes search-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@-ms-keyframes search-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@-o-keyframes search-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes search-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
/*SMALL MENU ANIMATION*/
@-webkit-keyframes sm-menu-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-moz-keyframes sm-menu-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-ms-keyframes sm-menu-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-o-keyframes sm-menu-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes sm-menu-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-webkit-keyframes sm-menu-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@-moz-keyframes sm-menu-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@-ms-keyframes sm-menu-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@-o-keyframes sm-menu-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes sm-menu-out {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
/*TRANSPORT MOVE IMGS ANIMATION*/
@-webkit-keyframes move-img-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-moz-keyframes move-img-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-ms-keyframes move-img-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-o-keyframes move-img-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes move-img-in {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  min-width: 300px;
  font-family: Verdana,sans-serif;
  background: #F7F7F7;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  overflow-x: hidden; }
  @media only screen and (min-width: 1500px) {
    body .container {
      width: 1370px; } }
