<header class="header">
	<!-- HEADER TOP PART -->
	<div class="container-fluid header-top-part">
		<div class="row">
			<div class="container">
				<div class="row htp-row" ng-switch on="data.lang">
					<div class="col-sm-4">
						<div class="htp-wrapper logo">
							<a ui-sref="main.home.landing">
								<img src="assets/img/logo.png">
							</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="htp-wrapper socials">
							<h3>HOME:HEADER</h3>
						</div>
					</div>
				  	<div class="col-sm-4">
						<div class="htp-wrapper phone">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>

