<!-- FRONT PAGE -->
<div class="front-page">
	<!-- CONTENT -->
	<div class="container-fluid fp-content">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 fp-content-wrapper">
						<!-- TOP LINE -->
						<div class="row fp-top-line">
							<div class="col-sm-4">
								<div class="fp-tl-wrapper">
									<h2>FRONT PAGE</h2>
									<a ui-sref="main.home.landing">Home</a>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>